<%- include('partials/head') %>
<%- include('partials/nav') %>

<h1>Home Page</h1>
<% allPosts.forEach(element => { %>

    <a href="blog/<%= element._id %>"><%= element.postTitle %></a>

<% }); %>

<%- include('partials/foot') %>